<%- include('../header') %>

  <% if (pessoas !='' ) { pessoas.forEach((row, index)=> { %>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
          <div class="card shadow">
            <div class="card-header bg-dark">
              <h3 class="text-light">Editar Cadastro ( ID <%= row.id %> ) </h3>
            </div>
            <div class="card-body p-4">
              <form action="/pessoa/<%= row.id %>" method="POST">
                <div class="mb-3">
                  <label for="name" class="col-sm-3 col-form-label col-form-label-lg">Nome:</label>
                  <input type="text" name="name" class="form-control form-control-lg" placeholder="Informe o nome..."
                    value="<%= row.nome %>" required />
                </div>
                <div class="mb-3">
                  <label for="city" class="col-sm-3 col-form-label col-form-label-lg">Cidade:</label>
                  <input type="number" step="0.010" name="city" class="form-control form-control-lg"
                    placeholder="Digite a cidade..." value="<%= row.salario %>" required />
                </div>
                <div class="mb-3 d-grid">
                  <input type="submit" name="submit" value="Gravar" class="btn btn-dark btn-lg" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) } %>

<%- include('../footer') %>